
include header
if error
    .class= error
div(class="main-container")
    form(id="formcreate",action="/actions/create", method="POST", class="col")
        h3 JSON
        div(class="editor", id="editor")
        if src
            input(type="hidden",id="data", name="data", value=src)
        else
            input(type="hidden", id="data", name="data")

        div
            input(type="submit", id="bsubmit", value="Generate JSON")

    form(action="/actions/save", method="POST", class="col")
        
        if result
            h3 Response
            label(for="name", required) Name of endpoint
            input(type="text", name="name", autocomplete="off", value=name)

        if src
            input(type="hidden",  name="src", value=src)
        else
            input(type="hidden", name="src", value=src)
            
        if result
            div(class="response")
                pre
                    code=result
            input(type="hidden", name="data",id="response" value=result)
            input(type="submit",id="bsave", value="Save new endpoint")
script(src='monaco-editor/min/vs/loader.js')
script(src='/js/main.js')